/* Estilo para la página Home */
.home-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  /* Media query para tablets */
  @media (max-width: 768px) {
    .home-page {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 0.75rem;
      padding: 0.75rem;
    }
  }
  
  /* Media query para móviles */
  @media (max-width: 480px) {
    .home-page {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 0.5rem;
      padding: 0.5rem;
    }
  }